<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Created: </div>
    <div><%= flight.createdAt %></div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
  </section>
</main>
  
<%- include('../partials/footer') %>